.c{
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 0;
  border-radius: 11px;
  background: white;
  box-shadow:  12px 12px 24px #dee2e4,
               -12px -12px 24px #fafeff;
}
.p{
  margin-bottom: 20px;
}